.DS_Store
*[Bb]uild/
.idea/
mulle_mintomic/
.repos/
xcuserdata/
project.xcworkspace/
mulle_mintomic
*.old
.bootstrap.auto/
.bootstrap.local/
dependencies/
mintomic/
https://github.com/mulle-nat/mintomic/
mulle-configuration/
*.exe
*.exe.debug
*.dSYM/
/lib
/include
tmp/.repos/mulle-utf/mulle-configuration/
.repos/mulle-utf/mulle-configuration/
mulle-tests/
addictions/

/tests/mulle-tests/

/bin/mulle-homebrew/
tests/float/longdouble
tests/float/simple
tests/integer/simple
tests/none/simple
tests/string/positional
tests/string/string
tests/include/
tests/lib/
