{
   project =
   {
      description="🔢 An extensible sprintf function supporting stdarg and mulle-vararg";
      domain="github";
      language="c";
      dialect="c";
      name="mulle-sprintf";
      user="mulle-core";
      repo="mulle-sprintf";
      homepage="https://github.com/mulle-core/mulle-sprintf";
      license="BSD-3-Clause";
   };
   dependencies =
   (
      {
         description="↗️  A growable C char array and also a stream - on stack and heap";
         domain="github";
         name="mulle-buffer";
         repo="mulle-buffer";
         url="https://github.com/mulle-c/mulle-buffer";
         user="mulle-c";
      },
      {
         description="🔤 UTF8-16-32 analysis and manipulation library";
         domain="github";
         name="mulle-utf";
         repo="mulle-utf";
         url="https://github.com/mulle-c/mulle-utf";
         user="mulle-c";
      },
      {
         description="⏪ Access variable arguments in struct layout fashion in C";
         domain="github";
         name="mulle-vararg";
         repo="mulle-vararg";
         url="https://github.com/mulle-c/mulle-vararg";
         user="mulle-c";
      },
      {
         description="🔠 Cross-platform thread/mutex/tss/atomic operations in C";
         domain="github";
         name="mulle-thread";
         repo="mulle-thread";
         url="https://github.com/mulle-concurrent/mulle-thread";
         user="mulle-concurrent";
      }
   );
   embedded =
   (
      {
         description="A C implementation of the Schubfach algorithm - fast and accurate conversion";
         domain="github";
         name="src/mulle-dtoa/mulle-dtoa.h";
         repo="mulle-dtoa";
         url="https://raw.githubusercontent.com/mulle-core/mulle-dtoa";
         user="mulle-core";
      },
      {
         description="A C implementation of the Schubfach algorithm - fast and accurate conversion";
         domain="github";
         name="src/mulle-dtoa/mulle-dtoa.c";
         repo="mulle-dtoa";
         url="https://raw.githubusercontent.com/mulle-core/mulle-dtoa";
         user="mulle-core";
      }
   );
}
